* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body > header {
    background-color: #354F52;
    color: #CAD2C5;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-between;
    padding: 2vh 2vw;
}

.admin-username {
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    justify-content: end;
}

.admin-username > img {
    height: 5vh;
    object-fit: cover;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 3vw;
}

.nav-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 9vh;
    justify-content: space-between;
}

ul {
    display: flex;
    font-size: 2vh;
    list-style: none;
}

li {
    padding: 10px;
}

i {
    padding: 5px;
}

.nav-header > img {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    align-items: center;
    background-color: #CAD2C5;
    color: #354F52;
    display: flex;
    font-size: 2vw;
    height: 12vh;
    padding: 2vh 2vw;
}

.card-container {
    background-color: #CAD2C5;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    height: 63vh;
    justify-content: space-evenly;
    overflow-y: auto;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.card-info {
    border: 0.5px solid rgb(117, 117, 117);
    box-shadow: 7px 7px 5px rgb(117, 117, 117);
    display: flex;
    flex-direction: column;
    height: 62vh;
    justify-content: space-between;
    width: 22vw;
}

.card-header {
    height: 35%;
}

.card-header > img {
    height: 100%;
    width: 100%;
}

.card-footer{
    background-color: white;
    color: #354F52;
    display: flex;
    height: 65%;
    flex-direction: column;
    font-size: 1vw;
    justify-content: space-between;
    padding: 5%;
    word-wrap: break-word;
}

.info-link {
    background-color: #CAD2C5;
    padding: .5vw;
}

h3 {
    color: #354F52;
    font-size: 3vh;
}